@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: 'DM sans', sans-serif;
}

:root {
  /*White mode set*/
  --principal-color-white: #1b8c2c;
  --bg-color-white: #fffaf1;
  --mural-color-white: #ffffff;
  --font-color: #fff;

  /*Dark mode set*/
  --principal-color-dark: #00420c;
  --bg-color-dark: #2b2b29;
  --mural-color-dark: #1e1e1e;
}

body {
  background-color: var(--bg-color-white);
}

/*===========mobile========================*/

/*============navMobile===================*/
nav {
  background-color: var(--principal-color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav #logo {
  padding-top: 0.5rem;
}

.user {
  background-color: initial;
  border: none;
  width: fit-content;
  margin-right: 32px;
}

#btnRequerimento {
  /*botão do modo pc*/
  display: none;
}

nav a:last-child {
  margin-right: 2rem;
}


/*============MAIN===================*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mural {
  display: flex;
  flex-direction: column;

  width: 325px;
  height: fit-content;

  text-align: center;
  align-items: center;

  margin-top: 2rem;
  padding-top: 0.3rem;

  background-color: var(--mural-color-white);
  border: 2px solid var(--principal-color-dark);

  border-radius: 0.5rem;
}

.mural div.bar {
  width: 250px;
  border: 0.2px solid black;
}

.mural p {
  width: 274px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.carrosel {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 325px;

  border-radius: 2rem;
  height: fit-content;

  display: flex;
  flex-direction: row;

  overflow: auto;
}

.carrosel .card {
  position: relative;
  display: inline-block;
}

.carrosel .card .con-text {
  position: absolute;
  top: 240px;
  width: 300px;
  color: #fff;
  padding-left: 1rem;
}

main .popUpLogin,
.popUpSingUp {
  display: none;
}

/*===================formMobile====================*/

.formRequerimento{
  background-color: var(--mural-color-white);

  width: 100%;
  height: 777px;

  padding-top: 2rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.formRequerimento input{
  width: 320px;
  height: 55px;

  font-size: 30px;

  padding-left: 1rem;

  border-radius: 1rem;
  border: 3px solid var(--principal-color-dark);
}

.formRequerimento input::placeholder{
  color: #000;
}

.formRequerimento .check {
  display: flex;
  flex-direction: row;


  width: 350px;
}

  .formRequerimento .check input {
    width: 80px;
  }

  .formRequerimento .check h2{
    margin-top: 10px;
  }

.formRequerimento .btn button {
  width: 350px;
  height: 55px;


  background-color: var(--principal-color-dark);
  color: var(--font-color);

  border-radius: 1.5rem;
  border: none;

  margin-top: 2rem;

  font-size: 30px;
  font-weight: bold;
}


/*==================================Computador=============================================*/

@media (min-width: 1024px) {

  /*============navPC===================*/
  #btnRequerimento {
    display: initial;
  }

  nav a:last-child {
    display: none;
  }

  nav button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;

    margin-right: 20px;
    background-color: var(--principal-color-dark);
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 46px;

    color: #ffffff;
    font-size: 26px;
  }

  nav button:hover {
    cursor: pointer;
  }

  nav {
    margin-bottom: 40px;
    margin: 1px solid red;
  }

  /*============mainPC===================*/

  main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 2rem;
  }

  main .mural {
    width: 604px;
    padding: 1rem 0rem 1rem;
    margin-right: 2rem;
  }

  main .mural p {
    width: 600px;
  }

  main .carrosel {
    width: 500px;
    margin-left: 2rem;
  }

  main .carrosel .card {
    width: fit-content;
    height: fit-content;
  }

  .carrosel::-webkit-scrollbar-track {
    background-color: #fff;
    border: 3px solid #d9d9d9;
  }
  .carrosel::-webkit-scrollbar {
    border-radius: 8px;
  }
  .carrosel::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #d9d9d9;
  }

  /*===================popUpLogin=======================*/
  main .popUpLogin {
    display: none;
    flex-direction: column;

    background-color: var(--principal-color-white);

    text-align: center;
    align-items: center;
    position: absolute;
    margin-top: 6rem;
    padding-top: 2rem;

    width: 571px;
    height: 530px;

    border-radius: 2rem;
  }

  /*Set dos botões para fechar o popUp*/
  main .popUpLogin .logo .fecharLog,
  .popUpSingUp .logo .fecharSing {
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    top: 15px;
  }

  main .popUpLogin form {
    margin-top: 2rem;
    margin-bottom: 0.4rem;

    display: flex;
    flex-direction: column;

    width: 477px;

    gap: 1rem;
  }

  .popUpLogin form input {
    color: var(--font-color);
    font-size: 30px;
    font-weight: bold;
    padding: 0.3rem 0.8rem;

    border-radius: 14px;
    border: 2px solid var(--principal-color-dark);
    background-color: var(--principal-color-white);

    outline: none;
  }

  .popUpLogin form input::placeholder {
    color: var(--font-color);
  }

  /*esqueceu a senha link*/
  .popUpLogin .link { 
    align-self: center;
    width: 454px;
    text-align: right;
  }

  .popUpLogin .link a {
    text-decoration: none;
    color: #cccccc;
  }
  /*esqueceu a senha link*/


  #login {
    background-color: var(--principal-color-dark);

    border: none;
    width: 477px;
    margin-top: 5rem;

    align-self: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--principal-color-white);

    padding: 0.5rem;
    border-radius: 24px;
  }

  #cadastro {
    background: none;
    border: none;
    color: #cccccc;
    font-size: 20px;
  }

  .popUpLogin button:hover {
    cursor: pointer;
  }

  .popUpLogin h2 {
    width: 477px;
    align-self: center;

    font-size: 20px;

    margin-top: 1rem;
  }

  .popUpLogin h2 a {
    text-decoration: none;
    color: #cccccc;
  }

  /*===================popUpSing==============*/

  main .popUpSingUp {
    display: none;
    flex-direction: column;

    background-color: var(--principal-color-white);

    text-align: center;
    align-items: center;
    position: absolute;
    margin-top: 6rem;
    padding-top: 2rem;

    width: 571px;
    height: 530px;

    border-radius: 2rem;
  }

  main .popUpSingUp form {
    margin-top: 2rem;
    margin-bottom: 0.4rem;

    display: flex;
    flex-direction: column;

    width: 477px;

    gap: 1rem;
  }

  .popUpSingUp form input {
    color: var(--font-color);
    font-size: 30px;
    font-weight: bold;
    padding: 0.3rem 0.8rem;

    border-radius: 14px;
    border: 2px solid var(--principal-color-dark);
    background-color: var(--principal-color-white);

    outline: none;
  }

  .popUpSingUp form input::placeholder {
    color: var(--font-color);
  }

  #sendCadastro {
    background-color: var(--principal-color-dark);

    border: none;
    width: 477px;
    margin-top: 2rem;

    align-self: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--principal-color-white);

    padding: 0.5rem;
    border-radius: 24px;
  }

  .popUpSingUp button:hover {
    cursor: pointer;
  }

  .popUpSingUp h2 {
    width: 477px;
    align-self: center;

    font-size: 20px;

    margin-top: 1rem;
  }

  .popUpSingUp h2 a {
    text-decoration: none;
    color: #cccccc;
  }

  .popUpSingUp .concluido {
    display: none;
    position: absolute;
    background-color: var(--principal-color-dark);
    top: 150px;
    background-color: var(--principal-color-white);
    height: 350px;
    padding-bottom: 50px;
    border-radius: 20px;
  }

  .popUpSingUp .concluido h1 {
    padding-bottom: 3rem;
  }

  /*===================form====================*/

  .user {
    background-color: initial;
    width: fit-content;
    margin-right: 32px;
  }

  .formRequerimento {
    width: 94%;
    height: fit-content;
    display: initial;

    background-color: #ffff;
    border: 3px solid var(--principal-color-dark);
    border-radius: 0.8rem;

    padding-top: 3rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }

  .formRequerimento input {
    width: 300px;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0.4rem;
    padding-left: 0.4rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
  }

  .formRequerimento .btn {
    display: flex;

    width: 93%;
    margin-left: 2rem;
    justify-content: right;
  }

  .formRequerimento div {
    display: flex;

    width: 320px;
    height: fit-content;
  }

  .formRequerimento div input {
    width: 50px;
    margin-left: 2rem;
    margin-right: 0.5rem;
  }

  .formRequerimento button {
    width: 353px;
    height: 55px;

    background-color: var(--principal-color-dark);
    border-radius: 2rem;
    border: none;
    color: var(--font-color);

    font-size: 30px;
    font-weight: bold;
  }

  /*========================Página do professor=======================*/

  .requerimentos {
    width: 94%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  
    background-color: #ffff;
    border: 3px solid var(--principal-color-dark);
    border-radius: 0.8rem;
  
    padding-bottom: 2rem;
  }
  
  .requerimentos .nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  
    height: 50px;
  
    background-color: var(--principal-color-dark);
    color: var(--font-color);
  
    padding-left: 2rem;
    margin-bottom: 33px;
  
    border-radius: 0.4rem 0.4rem 0rem 0rem;
  
    font-size: 20px;
    
  }
  
  .requerimentos input{
    width: 30px;
    height: 30px;
  }
  
  .requerimentos .requerimento{
    width: fit-content;
  
    display: flex;
    flex-direction: row;
    gap: 2rem;
  
    margin-left: 2rem;
    margin-bottom: 1rem;
  
    border-bottom: 3px solid var(--principal-color-dark);
  }
  
  .requerimentos .requerimento input:before{
    content: "";
    position: absolute;
    background-color: var(--bg-color-white);
    border: 3px solid var(--principal-color-dark);
    border-radius: 0rem 0rem 0.4rem 0rem;
    width: 30px;
    height: 28px;
  }
  
  .requerimentos .requerimento input:checked::before{
    content: "   ✔️";
    position: absolute;
    left: 72px;
  }
  
  .requerimentos .btn{
    display: flex;
  
    width: 93%;
    margin-left: 2rem;
    justify-content: right;
  }
  
  .requerimentos button {
    width: 353px;
    height: 55px;
  
    background-color: var(--principal-color-dark);
    border-radius: 2rem;
    border: none;
    color: var(--font-color);
  
    font-size: 30px;
    font-weight: bold;
  }
  
  input:hover, button:hover{
    cursor: pointer;
  }
}

@media (min-width: 1025px) {
  main {
    gap: 10rem;
  }
}
