@charset "UTF-8";

* {
  font-family: 'DM sans', sans-serif;
}

:root {
  /*White mode set*/
  --principal-color: #1b8c2c;
  --secundary-color:#00420c;

  --bg-color: #fffaf1;
  --mural-color: #ffffff;

  --primary-font-color:#000000;
  --secundary-font-color: #fff;
  
  --bar-color:#000;
  --link-color:#CCCCCC;

}

@media(prefers-color-scheme: dark){
  :root{
      /*Dark mode set*/
  --principal-color:#00420c;
  --secundary-color: #1b8c2c;

  --bg-color: #2b2b29;
  --mural-color: #1e1e1e;

  --primary-font-color: #fff;
  --secundary-font-color: #000;

  --bar-color:#fff;
  --link-color:#B9B9B9;
  }
}

body{
  text-align: center;
  background-color: var(--principal-color);

}

main{
  display: flex;
  flex-direction: column;

  align-items: center;

}

form{
  margin-top: 2rem;
  margin-bottom: 0.4rem;

  display: flex;
  flex-direction: column;


  width: 288px;


  gap: 1rem;
}

form input{
  color: var(--primary-font-color);
  font-size: 30px;
  font-weight: bold;
  padding: 0.3rem 0.5rem;

  border-radius: 14px;
  border: 2px solid var(--secundary-color);
  background-color: var(--principal-color);

  outline: none;
}

form input::placeholder{
  color: var(--primary-font-color);
}


.link{
  align-self: center;
  width: 280px;
  text-align: right;
}

.link a{
  text-decoration: none;
  color: var(--link-color);
}

button{
  background-color: var(--secundary-color);

  border: none;
  width: 288px;
  margin-top: 5rem;

  align-self: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--principal-color);


  padding: 0.5rem;
  border-radius: 24px;
}

button:hover{
  cursor: pointer;
}

h2{
  width: 288px;
  align-self: center;

  font-size: 20px;
  color: var(--primary-font-color);
}

h2 a{
  text-decoration: none;
  color: var(--link-color);
}

.concluido{
  display: none;
  position: absolute;
  top: 150px;
  background-color: var(--principal-color);
  height: 350px;
  padding-bottom: 50px;
  color: var(--primary-font-color);
}

.concluido path{
  fill: var(--principal-color);
}

.concluido circle{
  fill: var(--primary-font-color);
}